
.post{
    max-width: 500px;
    box-sizing: border-box;
    margin: 1rem auto;
    display:grid;
    width: 90vw;
    
    
    grid-template-rows: auto 3rem auto;
    grid-template-areas: 
    "img"
    "title"
    "fragment"
    ;
    background-color: white;
    border-radius: 1rem;
}

.title{
    grid-area: title;
    padding: 1rem;
    margin:0;
}
.fragment{
    grid-area: fragment;
    padding: 1rem;
    margin: 0;
}
.post>img{
    justify-self: stretch;
    align-self: center;
    object-fit: cover;
    width: 100%;
    grid-area: img;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/*estilos del los post loading -----------------------------*/

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85vw;
    margin: 20px 0;
}
.loading>img{
    
    min-height: 50px;
    min-width: 50px;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    animation-name: imgLoading;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: infinite;
    margin: 10px;
}
.textLoading{
    flex-basis: 0;
    flex-grow: 4;
    min-width: 200px;
    min-height: 100px;
    max-width: 700px;
    max-height: 300px;
    animation-name: textLoading;
    animation-duration: 3s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
}
@keyframes imgLoading{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}
@keyframes textLoading{
    0%{
        -webkit-box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);
        -moz-box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);
        box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);

    }
    50%{
        -webkit-box-shadow: inset 0px -52px 109px -92px rgba(177,179,179,1);
        -moz-box-shadow: inset 0px -52px 109px -92px rgba(177,179,179,1);
        box-shadow: inset 0px -52px 109px -92px rgba(177,179,179,1);

    }
    100%{
        -webkit-box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);
        -moz-box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);
        box-shadow: inset -200px -52px 109px -92px rgba(177,179,179,1);
    }
}