
.post{
    max-width: 500px;
    box-sizing: border-box;
    margin: 1rem auto;
    display:grid;
    width: 80vw;
    position: relative;
    
    grid-template-rows: auto 3rem auto;
    grid-template-areas: 
    "img"
    "title"
    "fragment"
    ;
    background-color: white;
    border-radius: 1rem;
}

.title{
    grid-area: title;
    padding: 1rem;
    margin:0;
}
.fragment{
    grid-area: fragment;
    padding: 1rem;
    margin: 0;
}
.imgPost{
    justify-self: stretch;
    align-self: center;
    object-fit: cover;
    width: 100%;
    max-height: 500px;
    grid-area: img;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/*estilos del los post loading -----------------------------*/

.loadIco{
    position:absolute ;
    height: 40px;
    width: 40px !important;
    top:30%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    z-index: 10;
    animation-name: loadingImg;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}
.pseudoTitle{
    grid-area: title;
    padding: 1rem;
    margin: 1rem;
    margin-top:10px;
    
    width: 10rem;
    background-color: white;
    animation-name: loadingTitle;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-sizing: border-box;
}
.pseudoText{
    grid-area: fragment;
    padding: 1rem;
    margin: 1rem;
    margin-top:0;
    height: 1rem;
    width: 15rem;

    background-color: white;
    animation-name: loadingText;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    box-sizing: border-box;
}

@keyframes loadingText{
    0%{
        -webkit-box-shadow: inset 0px 0px 71px -30px rgba(173,171,173,.8);

    }
    50%{
        -webkit-box-shadow: inset 20rem 0px 71px -30px rgba(173,171,173,.8);

    }
    100%{
        -webkit-box-shadow: inset 0 0px 71px -30px rgba(173,171,173,.8);

    }
}

@keyframes loadingTitle{
    0%{
        -webkit-box-shadow: inset 0px 0px 71px -30px rgba(173,171,173,.8);

    }
    50%{
        -webkit-box-shadow: inset 10rem 0px 71px -30px rgba(173,171,173,.8);

    }
    100%{
        -webkit-box-shadow: inset 0 0px 71px -30px rgba(173,171,173,.8);

    }
}

@keyframes loadingImg{
    0%{
        transform: translateX(-50%) translateY(50%) rotate(0deg);

    }
    100%{
        transform: translateX(-50%) translateY(50%) rotate(360deg);

    }
}