.home{
    background-color: #e2e2e2e2;
}
.hero{
    box-sizing: border-box;
    
    position: relative;
    
}
.heroImg{
    width: 98.7vw;
    height:400px ;   
}
.hero>img{
    object-fit: cover;
}

.hero>p{
   
    position:absolute;
    color:white;
    top:0;
    left: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
}
section{
    background-color:white;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    transform: translateY(-5rem);
    padding: 1rem;
    width: 93vw;
    margin: 0 auto;
    box-sizing: border-box;
}
section>h2{
    color:rgba(0,0,0,.8);
    margin: 0;
}