.postContainer{
    transform: translateY(-2rem);
    width: 95vw;
    padding: 1rem;
    margin: 0 auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
.postContainer>h2{
    align-self: flex-start;
    justify-self: flex-start;
}
.postContainer:nth-child(1){
    margin-bottom: 5rem;
}